<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AdminDao">	
	
	
	<resultMap id="adminResultMap" type="domain.Admin">
  		<id property="id" column="admin_id" />
  		<result property="loginName" column="admin_login_name"/>
  		<result property="loginPassword" column="admin_login_password"/>
  		<result property="name" column="admin_name"/>
  		<result property="phone" column="admin_phone"/>
	</resultMap>	
	<!-- 查询SQL -->
	<select id="findAll" resultMap="adminResultMap" >
		select * from admin_inf
	</select>
	
	<!-- 根据ID  SQL -->
	<select id="findById" parameterType="int" resultMap="adminResultMap">
         select * from admin_inf where admin_id=#{id}
    </select>
	
    
    
</mapper>