<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CollectDao">	
	
	
	<resultMap id="collect_contactResultMap" type="domain.Collect_contact">
  		<id property="id" column="collect_id" />
  		<result property="uid" column="u_id"/>
  		<result property="time" column="time"/>
  		<result property="rewardNum" column="reward_num"/>
  		<association property="blog" javaType="Blog"  select="dao.BlogDao.findById" column="blog_id"/>
	</resultMap>	
	<!-- 查询SQL -->
	<select id="findAll" resultMap="collect_contactResultMap" >
		select * from collect_inf
	</select>
	
	<select id="findByUid" parameterType="int" resultMap="collect_contactResultMap">
         select * from collect_inf where u_id=#{uid}
    </select>
	
	
	<insert id="insert" parameterType="Collect_contact" >
		insert into 
		collect_inf(u_id,blog_id,reward_num,collect_time)
		values
		(#{uid},'${blog.id}',#{rewardNum},#{time})
	</insert>

	<!-- 删除SQL -->
	<delete id="deleteByObject" parameterType="Collect_contact">
		delete from collect_inf where u_id=#{uid} and blog_id='${blog.id}'
	</delete>
	<delete id="deleteByBlogid" parameterType="int">
		delete from collect_inf where blog_id=#{blogid}
	</delete>
	<delete id="deleteByUid" parameterType="int">
		delete from collect_inf where u_id=#{uid}
	</delete>
    <select id="existValidate" parameterType="Collect_contact" resultType="int" >
         select count(collect_id) from collect_inf where u_id=#{uid} and blog_id='${blog.id}'
    </select>
    
    
   
    
</mapper>